body{
    display:flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    height:100vh;
    background-image: linear-gradient(to right top, rgb(81, 130, 234) , rgb(89 ,198 ,45));
}
.container{
    margin-top: 100px;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;

}
p{
    margin-right: 100px;
}
#btns{
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    width:90%;
    gap:40px;
    padding: 5px;
}
button{
    padding: 3px;
    width:100px;
    color:rgb(54, 53, 53);
    font-size: 16px;
    cursor:pointer;
    border-radius: 10px;
    outline:none;
    border:none;
    color:white;
  

}
#mybtn{
    background:rgb(28, 28, 109);
}
#mybtn2{
    background: #1ac12e;
}
.copycode{
    width:80%;
    border-radius: 5px;
    height:80px;
    background-color: gainsboro;
    padding:10px ;
    box-shadow: -3px -3px 3px rgb(0,0,0,0.2);
}
